@import "assets/fonts/Urbanist/connect.module.scss";
@import "src/styles/common/variables";

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: clamp(0.95rem, 1vw + 0.2rem, 1rem);
  line-height: clamp(1.15rem, 2vw - 0.3rem, 1.25rem);

  @media (max-width: 576px) {
    font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
    line-height: clamp(1.5rem, 2vw + 1.03rem, 1.75rem);
  }
}

h1 {
  font-weight: 600;
  font-size: clamp(3rem, 8.05vw - 1.7rem, 4rem);
  line-height: clamp(3.125rem, 3vw + 2.3rem, 3.5rem);
}

button,
input,
textarea {
  background: unset;
  border: unset;
  cursor: pointer;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a[class] {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
